        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <div class="row">
                    <div class="col-3 w-100">
                        <th class="align-middle text-center">ID</th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center"><a id="product_name_link">Megnevezes</a></th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center"><a id="product_quantity">Mennyiseg</a></th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center">Muveletek</th>
                    </div>
                </div>
            </thead>
            <tbody>
                {{#each storage}}
                <div class="row">
                    <tr>
                        <div class="col-3">
                            <td class="align-middle text-center">{{this.id}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center">{{this.name}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center">{{this.stock}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center"><button class="btn btn-info" onclick="editQuantity({{id}})">Szerkesztes</button></td>
                        </div>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>
    </div>

  <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <ul id="pagination" class="pagination">
          <a id="prev"><li class="btn btn-info mr-2">Elozo</li></a>
          <li id="page-current" class="btn border mr-2">1</li>
          <a id="next"><li class="btn btn-info">Kovetkezo</li></a>
        </ul>
      </div>
      <div class="col-4"></div>
    </div>



<div class="modal fade" id="stock" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Add meg az adott termek darabszamat!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
          <div class="container">
              <form action="/storage/editStock" method="POST">
              <div class="row mt-4" id="modal-content">
                  <div class="col-4 text-center mt-2">
                      <label for="stock_quantity">db:</label>
                  </div>
                  <div class="col-8 text-left mt-2">
                      <input class="w-100" type="text" id="stock_quantity" name="stock_quantity">
                      <input type="hidden" id="stock_item_id" name="stock_item_id" value="" >
                  </div>
              </div>
              <div class="row mt-5">
                  <div class="col-2">
                      <button type="button" class="btn btn-info" onclick="cancel()">Megse</button>
                  </div>
                  <div class="col-8">

                  </div>
                  <div class="col-2">
                      <input type="submit" value="OK" class="btn btn-primary">
                  </div>
              </div>
              </form>
          </div>



<script>

  function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

    const orderby = getUrlParameter("orderby");
    const order = getUrlParameter("order");
    let page = getUrlParameter("page");
    if (!page) page = 1;

    const prodNameLink = document.getElementById('product_name_link');
    const prodQuantityLink = document.getElementById('product_quantity');

    const prevPage = document.getElementById('prev');
    const nextPage = document.getElementById('next');
    const actualPage = document.getElementById('page-current');
    // ha nincs order and orderby parameter, akkor ez a resz beparameterezi a linkeket
    actualPage.innerText = page;
    if (page == 1) {
      prevPage.style.display = "none";
      nextPage.href = `/storage?page=${+page + 1}`;
      prodNameLink.href = `/storage?page=${+page}&orderby=product_name&order=asc`;
      prodQuantityLink.href = `/storage?page=${+page}&orderby=product_quantity&order=asc`;
    }
    else {
      prevPage.href = `/storage?page=${+page - 1}`;
      nextPage.href = `/storage?page=${+page + 1}`;
      prodNameLink.href = `/storage?page=${+page}&orderby=product_name&order=asc`;
      prodQuantityLink.href = `/storage?page=${+page}&orderby=product_quantity&order=asc`;
    }


    // beallitom a rendezesi linkeket a query string ertekei alapjan es beallitom a megfelelo iconokat (main.handlebarsban cdn!!!)
    if (orderby === "product_name" && order === "asc") {
      prodNameLink.href = `/storage?page=${page}&orderby=product_name&order=desc`;
      prodQuantityLink.href = `/storage?page=${page}&orderby=product_quantity&order=asc`;
      prodNameLink.innerHTML += ` <i class='lni lni-angle-double-up'></i>`;
    }
    if (orderby === "product_name" && order === "desc") {
      prodNameLink.href = `/storage?page=${page}&orderby=product_name&order=asc`;
      prodQuantityLink.href = `/storage?page=${page}&orderby=product_quantity&order=asc`;
      prodNameLink.innerHTML += ` <i class='lni lni-angle-double-down'></i>`;
    }
    if (orderby === "product_quantity" && order === "asc") {
      prodNameLink.href = `/storage?page=${page}&orderby=product_name&order=asc`;
      prodQuantityLink.href = `/storage?page=${page}&orderby=product_quantity&order=desc`;
      prodQuantityLink.innerHTML += ` <i class='lni lni-angle-double-up'></i>`;
    }
    if (orderby === "product_quantity" && order === "desc") {
      prodNameLink.href = `/storage?page=${page}&orderby=product_name&order=asc`;
      prodQuantityLink.href = `/storage?page=${page}&orderby=product_quantity&order=asc`;
      prodQuantityLink.innerHTML += ` <i class='lni lni-angle-double-down'></i>`;
    }

   

    function editQuantity(id) {
      document.getElementById('stock_item_id').value = id;
        $('#stock').modal();
    }

    function cancel() {
      document.getElementById('stock_item_id').value = "";
        $('#stock').modal('hide');
    }
</script>